<section id="doubts">
    <div class="container-fluid">
        <div class="content row">
    
            <div class="contentDoubts col-11" style="align-self: center;">
    
                <mat-accordion>
        
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Habilidades mentais são para mim? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Sim! Como ser humano, essas habilidades vão te ajudar a escrever mais e melhor!</p>
                    </mat-expansion-panel>
        
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Quanto tempo levarei para ter resultados?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Isso vai depender do quanto você se dedicar!</p>
                    </mat-expansion-panel>
        
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Para quem o treinamento é indicado?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>É para quem tá começando a escrever e também para quem já escreve e quer melhorar.</p>
                    </mat-expansion-panel>
        
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Onde vão ser os encontros ao vivo? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Vamos fazer chamadas de vídeo pelo Google Meet. Você vai receber o link no grupo do WhatsApp exclusivo do treinamento.</p>
                    </mat-expansion-panel>
        
                </mat-accordion>
            </div>

        </div>
    </div>



</section>