<section id="history">
    <div class="container-fluid">
        <section class="content row">

            <div class="buttonBack col-12">
                <a href="/">
                    <button class="backBtn" role="link" aria-label="voltar para home">
                        <div class="backBtn-box">
                            <span class="backBtn-elem">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 40">
                                    <path
                                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                                    </path>
                                </svg>
                            </span>
                            <span class="backBtn-elem">
                                <svg viewBox="0 0 46 40">
                                    <path
                                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </button>
                </a>
            </div>

            <div class="text col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-8">
                <h1>Quem sou eu?</h1>
        
                <p>Me chamo Leandro, sou estudante de psicologia e criei o método Mestre da Escrita, pois cansei de estudar a literatura tradicional e chata que não me trazia nenhum resultado!</p>
        
            </div>
        
            <div class="image col-xs-6 col-sm-6 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
                <img src="../../assets/images/leandroImg.png" alt="Foto do instrutor Leandro">
            </div>
        
        </section>

        <section id="myHistory">
            <h3>Como surgiu a Comunidade Mestre da Escrita?</h3>
    
            <p>
                Depois de publicar 4 livros, decidi criar o treinamento para mostrar que não precisa decorar um monte de regras chatas de português ou fazer faculdade de letras para escrever o primeiro livro.
    
                <br><br>
    
                Para mim, escritor inteligente não é o que sabe todas as regras de português e técnicas de escrita. O escritor inteligente é o que tem habilidades mentais e consegue escrever mesmo quando não tá a fim! Afinal, antes de ser escritor, somos seres humanos.
                
                <br><br>
                    
                Temos um monte de desafios na cabeça que precisam dessas habilidades mentais pra destravá-la e não ser só mais um escritorzinho que desiste na primeira dificuldade! Escrevi meu primeiro livro só porque usei habilidades mentais. E desde então, já escrevi e publiquei 19 livros, e os levei para 12 países.
    
                <br><br>
                
                Tudo isso sem aprender as frescuras da literatura chata e tradicional! Antes de ser escritor de 19 livros, eu me sentia só mais um quando abria o Word e não conseguia escrever uma palavra! A tal da página em branco me deixava gelado, e as ideias para escrever sumiam!
                
                <br><br>
    
                Mas tudo mudou quando comecei a aprender habilidades mentais. A escrita, que antes parecia uma fechadura enferrujada, agora é uma porta aberta para vários livros!
            </p>
    
        </section>
    </div>

</section>

<div>
    <app-footer-page></app-footer-page>
</div>